<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!-- Enable Annotations, e.g. @Autowired -->
    <context:annotation-config />

    <tx:annotation-driven />

    <import resource="classpath:biz/hahamo/dev/variations/controller/repository/repository.spring.xml" />

    <bean name="applicationService" class="biz.hahamo.dev.variations.controller.ApplicationService">
        <constructor-arg ref="biz.hahamo.dev.variations.controller.repository.GenericRepository" />
        <constructor-arg ref="biz.hahamo.dev.variations.controller.repository.PersistenceQueryFactory" />
    </bean>
    <bean id="biz.hahamo.dev.variations.controller.LoginService" class="biz.hahamo.dev.variations.controller.LoginService">
        <constructor-arg ref="biz.hahamo.dev.variations.controller.repository.UserRepository" />
    </bean>
    
    <bean id="biz.hahamo.dev.variations.view.ViewService" class="biz.hahamo.dev.variations.view.ViewService">
        <constructor-arg ref="biz.hahamo.dev.variations.controller.LoginService" />
    </bean>
</beans>